/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
*/
.dashboard.side-nav { 
  width: 12.5%;
  background-color: #3D3D3D;
  box-shadow: #3B3E40 1px 0px 2px;
}

.dashboard.side-nav li { 
  list-style-type:none;
}
.dashboard.side-nav li a { 
  font-size: 15px; 
  font-weight: 400;
  color: white; 
  margin-left: 0;
}
.dashboard.side-nav a.group-header {
  background-color: #E02222;
  padding: 4px 0px 4px 21%;
  border-bottom: 1px solid rgba(245,245,245,0.5);
}
.dashboard.dashboard-side-nav ul.dropdown{
  padding: 5px 0px 5px 0px; 
  margin-left: 0px;
}
.dashboard.side-nav ul li{
  margin-bottom:0px;
}
.dashboard.side-nav ul li a { 
  font-size: 12px; 
  font-weight: normal;
  transition: color 0.1s ease;
  padding-left: 23%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.dashboard.side-nav ul li a:hover { 
  background-color: rgba(245,245,245,0.1);
}

