// Place all the styles related to the admin/admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.side-nav { 
  width: 12.5%;
  background-color: #1382CA;
  box-shadow: inset #3B3E40 -1px 0px 2px;
}

.side-nav li { 
  list-style-type:none;
}
.side-nav li a { 
  font-size: 17px; 
  font-weight: 600;
  color: white; 
  margin-left: 0;
}
.side-nav li a.group-header {
  background-color: #3B3E40;
  padding: 5px 0px 5px 0px;
  padding-left: 21%;
  border-bottom: 1px solid white;
}
.side-nav ul.dropdown{
  padding: 13px 0px 5px 0px; 
  margin-left: 0px;
}
.side-nav ul li{
  margin-bottom:0px;
}
.side-nav ul li a { 
  font-size: 12px; 
  font-weight: 600;
  text-shadow: 0px 1px 1px grey; 
  transition: color 0.1s ease;
  padding-left: 23%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.side-nav ul li a:hover { 
  background-color: #1173b3;
  color: #e8f3ff;
}

