<div class="row">

<!-- Left Area -->
	<div class="large-3 columns">
	  <div class="side-nav">
		<div class="panel colors">
		<h6>Color Swatch</h6>
			<ul class="inline-list">
				<% @colors.each do |color| %>
					<li><a id="studio-tcolor" name="studio-tcolor" style="background-color:<%= color.hexcode %>;" title="<%= color.name %>"></a></li>
				<% end %>
			</ul>
		</div>
	  
	
		<div class="panel">
		<h6>Color Swatch</h6>
			.<br>
           	.<br>
           	.<br>
           	.<br>
           	.<br>
		</div>
	
	
		<div class="panel">
		<h6>Color Swatch</h6>
			.<br>
           	.<br>
           	.<br>
           	.<br>
           	.<br>
		</div>
	  </div>
	</div>
<!-- End Left Area -->

<!-- Middle Area -->
	<div class="large-6 columns">
		<H6>Product Name & Size</H6>
		<canvas width="565" height="500" id="studio-canvas" style="background: url(/assets/studio-product-image.jpg) no-repeat;">
			Your browser does not support the canvas element.
		</canvas>
		
	</div>
<!-- End Middle Area -->

<!-- Right Area -->
	<div class="large-3 columns">
	  <div class="side-nav">
		<div class="panel">
		<h6>Color Swatch</h6>
			.<br>
           	.<br>
           	.<br>
           	.<br>
           	.<br>
		</div>

		<div class="panel">
		<h6>Color Swatch</h6>
			.<br>
           	.<br>
           	.<br>
           	.<br>
           	.<br>
		</div>

		<div class="panel">
		<h6>Color Swatch</h6>
			.<br>
           	.<br>
           	.<br>
           	.<br>
           	.<br>
		</div>
      </div>
	</div>
<!-- End Right Area -->

</div>