<!-- 
	Admin Dashboard Left Navigation
   partial: _dashboard_leftnavigation.html.erb 
===============================================
-->

<ul class="side-nav left" style="position: absolute;"> 
  <li class="has-dropdown"><a class="group-header" href="#">Orders</a>
    <ul class="dropdown">
      <li><a class ="" href="/admin/orders">View Orders</a></li>
    </ul>
  </li> 
  <li class="has-dropdown"><a class="group-header" href="#">Posts</a>
    <ul class="dropdown">
      <li><a class ="" href="/admin/posts/new">New Post</a></li>
      <li><a class ="" href="/admin/post_categories">Categories</a></li>
      <li><a class ="" href="/admin/posts">View Posts</a></li>
    </ul>
  </li>
  <li class="has-dropdown"><a class="group-header" href="#">Products</a>
    <ul class="dropdown">
      <li><a class ="" href="/admin/products/new">New Product</a></li>
      <li><a class ="" href="/admin/product_categories">Categories</a></li>
      <li><a class ="" href="/admin/products">View Products</a></li>
    </ul>
  </li>
  <li class="has-dropdown"><a class="group-header" href="#">Pages</a>
    <ul class="dropdown">
      <li><a href="#">Add New Page</a></li>
      <li><a href="#">View Pages</a></li>
    </ul>
  </li>
 </ul>






